*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(117, 89, 155);
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    position: static;
    padding: 0.5rem;
}
.nav1{
    background-color: white;
    padding: 0.5rem;
    border-radius:0.4rem;
}
.nav2{
    display: flex;

}
.nav2>div{
    margin:1rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(243, 162, 133);
}

.container1{
    margin:1rem;
    background-color:rgb(152, 247, 215);
    padding: 1rem;
    width: 20%;
   

}
.image{
    display: block;
    width: 100%;
    margin:0%;
    
}