* {
  margin: 0%;
  padding: 0%;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eb455f;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  position: static;
  padding: 0.5rem;
}
#logo img {
  height: 3rem;
  margin-left: 2rem;
}

.nav1 {
  color: white;
  font-family: "Bowlby One SC", cursive;
  padding: 0.5rem;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  height: 100%;
}
.nav2 {
  display: flex;
  align-items: center;
  height: 2rem;
}
.nav2 li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  margin-right: 1rem;
}
#searchBar {
  width: 15rem;
  height: 100%;
  margin-right: 0rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
#search {
  background-color: grey;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 1.6rem;
  padding: 0.2rem;
}

.nav2 > div {
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #fcffe7;
  font-size: 0.9em;
}

.container1 {
  background: radial-gradient(circle at 50% 0%, orange 40%, #ffffff 36%);
  margin: 1rem;
  background-color: #bad7e9;
  padding: 1rem;
  width: 17%;
  border-radius: 0.2rem;
  /* border: 2px solid #2b3467; */
  height: 18rem;
  color: black;
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 0.1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.5s;
}
.container1:hover{
  transform:scale(1.05);
}
.image {
  /* height: 8rem;
    padding-bottom: 2rem; */
  width: 11rem;
  max-height: 10rem;
  margin: 0.5rem auto;
}
.name {
  margin-bottom: 1rem;
}
.stats {
  display: flex;
  flex-direction: row;
}
.button {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.button #previous {
  height: 1.8rem;
  width: 9rem;
  border: 1px solid #2b3467;
  outline: none;
  background-color: #eb455f;
  font-family: "Bowlby One SC", cursive;
  color: white;
  border-radius: 1rem;
}
.button #previous:hover {
  color: #eb455f;
  background-color: white;
}
.button #next {
  height: 1.8rem;
  width: 9rem;
  border: 1px solid #2b3467;
  outline: none;
  background-color: #eb455f;
  font-family: "Bowlby One SC", cursive;
  color: white;
  border-radius: 1rem;
}
.button #next:hover {
  color: #eb455f;
  background-color: white;
  transform: scale(1.05);
}
